[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "provDebugR"]
	path = provDebugR
	url = https://github.com/cran/provDebugR
[submodule "provGraphR"]
	path = provGraphR
	url = https://github.com/cran/provGraphR
[submodule "provParseR"]
	path = provParseR
	url = https://github.com/cran/provParseR
